{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Title -->
<h1 class="text-center title">New Checksheet</h1>
<!-- Contact form -->
<div class="container mt-5">
    
       <!-- Make & Model -->
      <div class="row">
         <div class="col-md-6 mb-3">
            <label for="make_model">Make/Model</label>
            <input type="text" class="form-control" name="make_model" id="make_model" value="{{ checksheet.make_model }}" disabled>
         </div>
      <!-- Serial Number -->
         <div class="col-md-6 mb-3">
            <label for="sn_no">Serial Number</label>
            <input type="text" class="form-control" name="sn_no" id="sn_no" value="{{ checksheet.sn_no }}" disabled>
         </div>
      </div>
      <!-- Inspected By -->
      <div class="row">
         <div class="col-md-4 mb-3">
            <label for="inspected_by">Inspected By</label>
            <input type="text" class="form-control" name="inspected_by" id="inspected_by" value="{{ checksheet.inspected_by }}" disabled>
         </div>
      <!-- Location -->
        <div class="col-md-4 mb-3">
           <label for="location">Location</label>
           <input type="text" class="form-control" name="location" id="location" value="{{ checksheet.location }}" disabled>
        </div>      
         <!-- Date -->
         <div class="col-md-4 mb-3">
            <label for="date">Date</label>
            <input class="form-control" type="text" id="date" name="date" value="{{ checksheet.date }}" disabled>
         </div>
      </div>

<!-- Question 1 -->
      <div class="row">
         <div class="col-md-12">
      <label for="question_1">1. Have you been trained to operate the machine and carry out the pre-use checks?</label>
   </div>
</div>
<div class="row">
   <div class="col-md-12 mb-3">
    
      <div class="form-check form-check-inline">
         <input class="form-check-input" type="radio" name="question_1" id="question_1_yes" value="Yes">
         <label class="form-check-label mr-5" for="question_1_yes">Yes</label>
       </div>
       
       <div class="form-check form-check-inline">
         <input class="form-check-input" type="radio" name="question_1" id="question_1_no" value="No">
         <label class="form-check-label mr-5" for="question_1_no">No</label>
       </div>
       
       <div class="form-check form-check-inline">
         <input class="form-check-input" type="radio" name="question_1" id="question_1_na" value="NA">
         <label class="form-check-label mr-5" for="question_1_na">N/A</label>
       </div>
      </div>
   </div>
<!-- Question 2 -->
      <div class="row">
         <div class="col-md-12">
      <label for="question_2">2. Is the MEWP certificate & manual in the machine?</label>
   </div>
</div>
<div class="row">
   <div class="col-md-12 mb-3">
    {% if checksheet.question_2_yes %}
      <div class="form-check form-check-inline">
         <input class="form-check-input" type="radio" name="question_2" id="question_2_yes" value="Yes">
         <label class="form-check-label mr-5" for="question_2_yes">Yes</label>
       </div>
       {% endif %}
       {% if checksheet.question_2.no %}
       <div class="form-check form-check-inline">
         <input class="form-check-input" type="radio" name="question_2" id="question_2_no" value="No">
         <label class="form-check-label mr-5" for="question_2_no">No</label>
       </div>
       {% endif %}
       {% if checksheet.question_2.na %}
       <div class="form-check form-check-inline">
         <input class="form-check-input" type="radio" name="question_2" id="question_2_na" value="NA">
         <label class="form-check-label mr-5" for="question_2_na">N/A</label>
       </div>
       {% endif %}
      </div>
   </div>
<!-- Question 3 -->
<div class="row">
   <div class="col-md-12">
<label for="question_3">3. Drive the Platform a few feet checking for oil leaks. Any leaks present?</label>
</div>
</div>
<div class="row">
  <div class="col-md-12 mb-3">
     <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_3" id="question_3_yes" value="Yes">
        <label class="form-check-label mr-5" for="question_3_yes">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_3" id="question_3_no" value="No">
        <label class="form-check-label mr-5" for="question_3_no">No</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_3" id="question_3_na" value="NA">
        <label class="form-check-label mr-5" for="question_3_na">N/A</label>
      </div>
     </div>
  </div>
<!-- Question 4 -->
<div class="row">
   <div class="col-md-12">
<label for="question_4">4.Check the emergency lowering device to lower the platform. Does it work?</label>
</div>
</div>
<div class="row">
  <div class="col-md-12 mb-3">
     <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_4" id="question_4_yes" value="Yes">
        <label class="form-check-label mr-5" for="question_4_yes">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_4" id="question_4_no" value="No">
        <label class="form-check-label mr-5" for="question_4_no">No</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_4" id="question_4_na" value="NA">
        <label class="form-check-label mr-5" for="question_4_na">N/A</label>
      </div>
     </div>
  </div>
<!-- Question 5 -->
<div class="row">
   <div class="col-md-12">
<label for="question_5">5. Are the guardrails fitted and properly attached to the platform?</label>
</div>
</div>
<div class="row">
  <div class="col-md-12 mb-3">
     <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_5" id="question_5_yes" value="Yes">
        <label class="form-check-label mr-5" for="question_5_yes">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_5" id="question_5_no" value="No">
        <label class="form-check-label mr-5" for="question_5_no">No</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_5" id="question_5_na" value="NA">
        <label class="form-check-label mr-5" for="question_5_na">N/A</label>
      </div>
     </div>
  </div>
<!-- Question 6 -->
<div class="row">
   <div class="col-md-12">
<label for="question_6">6. Are gates that have spring closing devices operating without sticking?</label>
</div>
</div>
<div class="row">
  <div class="col-md-12 mb-3">
     <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_6" id="question_6_yes" value="Yes">
        <label class="form-check-label mr-5" for="question_6_yes">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_6" id="question_6_no" value="No">
        <label class="form-check-label mr-5" for="question_6_no">No</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_6" id="question_6_na" value="NA">
        <label class="form-check-label mr-5" for="question_6_na">N/A</label>
      </div>
     </div>
  </div>
<!-- Question 7 -->
<div class="row">
   <div class="col-md-12">
<label for="question_7">7. When drop bars are fitted to the entrance do they drop down freely?</label>
</div>
</div>
<div class="row">
  <div class="col-md-12 mb-3">
     <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_7" id="question_7_yes" value="Yes">
        <label class="form-check-label mr-5" for="question_7_yes">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_7" id="question_7_no" value="No">
        <label class="form-check-label mr-5" for="question_7_no">No</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_7" id="question_7_na" value="NA">
        <label class="form-check-label mr-5" for="question_7_na">N/A</label>
      </div>
     </div>
  </div>
<!-- Question 8 -->
<div class="row">
   <div class="col-md-12">
<label for="question_8">8. Is the sliding deck extension moving smoothly?</label>
</div>
</div>
<div class="row">
  <div class="col-md-12 mb-3">
     <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_8" id="question_8_yes" value="Yes">
        <label class="form-check-label mr-5" for="question_8_yes">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_8" id="question_8_no" value="No">
        <label class="form-check-label mr-5" for="question_8_no">No</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_8" id="question_8_na" value="NA">
        <label class="form-check-label mr-5" for="question_8_na">N/A</label>
      </div>
     </div>
  </div>
<!-- Question 9 -->
<div class="row">
   <div class="col-md-12">
<label for="question_9">9. Does the emergency-stop and ground control switch for operation work?</label>
</div>
</div>
<div class="row">
  <div class="col-md-12 mb-3">
     <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_9" id="question_9_yes" value="Yes">
        <label class="form-check-label mr-5" for="question_9_yes">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_9" id="question_9_no" value="No">
        <label class="form-check-label mr-5" for="question_9_no">No</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_9" id="question_9_na" value="NA">
        <label class="form-check-label mr-5" for="question_9_na">N/A</label>
      </div>
     </div>
  </div>
<!-- Question 10 -->
<div class="row">
   <div class="col-md-12">
<label for="question_10">10. Has all rubbish and all nonessential items been removed from the basket?</label>
</div>
</div>
<div class="row">
  <div class="col-md-12 mb-3">
     <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_10" id="question_10_yes" value="Yes">
        <label class="form-check-label mr-5" for="question_10_yes">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_10" id="question_10_no" value="No">
        <label class="form-check-label mr-5" for="question_10_no">No</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_10" id="question_10_na" value="NA">
        <label class="form-check-label mr-5" for="question_10_na">N/A</label>
      </div>
     </div>
  </div>
<!-- Question 11 -->
<div class="row">
   <div class="col-md-12">
<label for="question_11">11. Are all tyres and wheels in good condition?</label>
</div>
</div>
<div class="row">
  <div class="col-md-12 mb-3">
     <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_11" id="question_11_yes" value="Yes">
        <label class="form-check-label mr-5" for="question_11_yes">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_11" id="question_11_no" value="No">
        <label class="form-check-label mr-5" for="question_11_no">No</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_11" id="question_11_na" value="NA">
        <label class="form-check-label mr-5" for="question_11_na">N/A</label>
      </div>
     </div>
  </div>
<!-- Question 12 -->
<div class="row">
   <div class="col-md-12">
<label for="question_12">12. Do all control checks work properly (e.g. brakes, steering, Joystick, spring buttons, horn, connections etc..</label>
</div>
</div>
<div class="row">
  <div class="col-md-12 mb-3">
     <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_12" id="question_12_yes" value="Yes">
        <label class="form-check-label mr-5" for="question_12_yes">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_12" id="question_12_no" value="No">
        <label class="form-check-label mr-5" for="question_12_no">No</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_12" id="question_12_na" value="NA">
        <label class="form-check-label mr-5" for="question_12_na">N/A</label>
      </div>
     </div>
  </div>
<!-- Question 13 -->
<div class="row">
   <div class="col-md-12">
<label for="question_13">13. Are oil & diesel levels and hydraulic hoses ok?</label>
</div>
</div>
<div class="row">
  <div class="col-md-12 mb-3">
     <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_13" id="question_13_yes" value="Yes">
        <label class="form-check-label mr-5" for="question_13_yes">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_13" id="question_13_no" value="No">
        <label class="form-check-label mr-5" for="question_13_no">No</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_13" id="question_13_na" value="NA">
        <label class="form-check-label mr-5" for="question_13_na">N/A</label>
      </div>
     </div>
  </div>
<!-- Question 14 -->
<div class="row">
   <div class="col-md-12">
<label for="question_14">14. Does the machine have enough charge in the battery?</label>
</div>
</div>
<div class="row">
  <div class="col-md-12 mb-3">
     <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_14" id="question_14_yes" value="Yes">
        <label class="form-check-label mr-5" for="question_14_yes">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_14" id="question_14_no" value="No">
        <label class="form-check-label mr-5" for="question_14_no">No</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_14" id="question_14_na" value="NA">
        <label class="form-check-label mr-5" for="question_14_na">N/A</label>
      </div>
     </div>
  </div>
<!-- Question 15 -->
<div class="row">
   <div class="col-md-12">
<label for="question_15">15. Are all electrics in good condition, leads and plugs?</label>
</div>
</div>
<div class="row">
  <div class="col-md-12 mb-3">
     <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_15" id="question_15_yes" value="Yes">
        <label class="form-check-label mr-5" for="question_15_yes">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_15" id="question_15_no" value="No">
        <label class="form-check-label mr-5" for="question_15_no">No</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_15" id="question_15_na" value="NA">
        <label class="form-check-label mr-5" for="question_15_na">N/A</label>
      </div>
     </div>
  </div>
<!-- Question 16 -->
<div class="row">
   <div class="col-md-12">
<label for="question_16">16. Are pivot pins secure? (if applicable)</label>
</div>
</div>
<div class="row">
  <div class="col-md-12 mb-3">
     <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_16" id="question_16_yes" value="Yes">
        <label class="form-check-label mr-5" for="question_16_yes">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_16" id="question_16_no" value="No">
        <label class="form-check-label mr-5" for="question_16_no">No</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_16" id="question_16_na" value="NA">
        <label class="form-check-label mr-5" for="question_16_na">N/A</label>
      </div>
     </div>
  </div>
<!-- Question 17 -->
<div class="row">
   <div class="col-md-12">
<label for="question_17">17. Are stabilizing jacks functioning properly? (if fitted)</label>
</div>
</div>
<div class="row">
  <div class="col-md-12 mb-3">
     <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_17" id="question_17_yes" value="Yes">
        <label class="form-check-label mr-5" for="question_17_yes">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_17" id="question_17_no" value="No">
        <label class="form-check-label mr-5" for="question_17_no">No</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_17" id="question_17_na" value="NA">
        <label class="form-check-label mr-5" for="question_17_na">N/A</label>
      </div>
     </div>
  </div>
<!-- Question 18 -->
<div class="row">
   <div class="col-md-12">
<label for="question_18">18. Is the machine in good condition and safe to operate?</label>
</div>
</div>
<div class="row">
  <div class="col-md-12 mb-3">
     <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_18" id="question_18_yes" value="Yes">
        <label class="form-check-label mr-5" for="question_18_yes">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_18" id="question_18_no" value="No">
        <label class="form-check-label mr-5" for="question_18_no">No</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_18" id="question_18_na" value="NA">
        <label class="form-check-label mr-5" for="question_18_na">N/A</label>
      </div>
     </div>
  </div>
<!-- Question 19 -->
<div class="row">
   <div class="col-md-12">
<label for="question_19">19. Main MEWP touch points such as Gate , Joystick , Controls , Handrails etc wiped down before use?</label>
</div>
</div>
<div class="row">
  <div class="col-md-12 mb-3">
     <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_19" id="question_19_yes" value="Yes">
        <label class="form-check-label mr-5" for="question_19_yes">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_19" id="question_19_no" value="No">
        <label class="form-check-label mr-5" for="question_19_no">No</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_19" id="question_19_na" value="NA">
        <label class="form-check-label mr-5" for="question_19_na">N/A</label>
      </div>
     </div>
  </div>
<!-- Question 20 -->
<div class="row">
  <div class="col-md-12">
<label for="question_20">20. Disinfectant available to wipe /sanitize touch points?</label>
</div>
</div>
<div class="row">
  <div class="col-md-12 mb-3">
     <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_20" id="question_20_yes" value="Yes">
        <label class="form-check-label mr-5" for="question_20_yes">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_20" id="question_20_no" value="No">
        <label class="form-check-label mr-5" for="question_20_no">No</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question_20" id="question_20_na" value="NA">
        <label class="form-check-label mr-5" for="question_20_na">N/A</label>
      </div>
     </div>
  </div>
      <div class="row">
         <div class="col-md-12 mb-3">
            <label for="comments">Comments</label>
            <textarea class="form-control" name="comments" id="comments" rows="3"></textarea>
         </div>
      </div>
      <button class="btn btn-dark rounded-pill py-2 mb-4" type="submit">Submit</button>

{% endblock %}
